<h2 mat-dialog-title>Add New Bucket</h2>

<mat-dialog-content>


<mat-form-field appearance="legacy">
    <mat-label>Enter bucket name</mat-label>
    <input [(ngModel)]="bucketName" matInput placeholder="Use small letters">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint : sample-bucket-1</mat-hint>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions >
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click) ="createBucket()" mat-button  [mat-dialog-close]="true" cdkFocusInitial>Create</button>
  </mat-dialog-actions>